<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="searchType">
    <ion-segment-button value="basic">
      Basic
    </ion-segment-button>
    <ion-segment-button value="advanced">
      Advanced
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="searchType">
    <ion-list *ngSwitchCase="'basic'" class="ion-no-margin">

      <ion-item #dateItem>
        <ion-label>{{ filter.month | date : 'MMMM y'}}</ion-label>
        <!-- <ion-input [value]="expense.date"></ion-input> -->
        <ion-button fill="clear" id="open-date-month">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-month" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #expenseMonth
              presentation="month-year"
              name="month"
              showClearButton="true"
              showDefaultButtons="true"
              [(ngModel)]="filter.month"
              (ionChange)="loadBasic()"
            >
          </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-list>


    <ion-list *ngSwitchCase="'advanced'" class="ion-no-margin">
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-label>{{ filter.startDate | date : 'MMMM d, y'}}</ion-label>
        <ion-button fill="clear" id="open-date-start">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-start" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #expenseDate
              presentation="date"
              name="startDate"
              showClearButton="true"
              showDefaultButtons="true"
              [(ngModel)]="filter.startDate"
              (ionChange)="loadResults($event)"
            >
          </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-label>{{ filter.endDate | date : 'MMMM d, y'}}</ion-label>

        <ion-button fill="clear" id="open-date-end">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-end" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #expenseDate
              presentation="date"
              name="endDate"
              showClearButton="true"
              showDefaultButtons="true"
              [(ngModel)]="filter.endDate"
              (ionChange)="loadResults($event)"
            >
          </ion-datetime>
          </ng-template>
          
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-label floating>Choose Category</ion-label>
        <ion-select interface="popover" required name="category" [(ngModel)]="filter.category" (ionChange)="loadResults({})">
          <ion-select-option [value]="cat" *ngFor="let cat of categories">
            {{cat.title | titlecase}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </div>

  <ion-list class="ion-padding-horizontal">
      <header>
        <h2>Total</h2>
        <h2>{{total | number: '2.2-2'}}</h2>
      </header>

      <expense-item 
      [expense]="item" 
      [readonly]="true"
      *ngFor="let item of expenses$ | async"></expense-item>
   
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToGraph()" > 
      <ion-icon name="pie-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
