<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item #dateItem>
      <ion-label stacked>Month</ion-label>
      <input type="month" [(ngModel)]="month" #expenseDate>
    </ion-item>
  </ion-list>

  <!-- <pie [labels]="chartLabels" [data]="chartData"></pie> -->

  <kh-doughnut [chartLabel]="chartLabels" [chartData]="chartData"></kh-doughnut>
</ion-content>
