<ion-content padding>
  <ion-list>
    <ion-item #dateItem>
      <ion-label stacked>Month</ion-label>
      <input type="month" [value]="month()" #expenseDate>
    </ion-item>
  </ion-list>

  <!-- <pie [labels]="chartLabels" [data]="chartData"></pie> -->

  <kh-doughnut [chartLabel]="chartLabels" [chartData]="chartData"></kh-doughnut>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]='["../tabs/filter"]' [queryParams]="{ month: expenseDate.value }">
      <ion-icon name="list-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
