<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item #dateItem>
      <ion-label stacked>Month</ion-label>
      <!-- <ion-label>{{ month | date : 'MMMM y'}}</ion-label> -->
      <!-- <ion-input [value]="expense.date"></ion-input> -->
      <!-- <ion-button fill="clear" id="open-date-input-2">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button> -->
      
      <input type="month" [(ngModel)]="month" #expenseDate>
      <!-- <ion-popover trigger="open-date-input-2" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #expenseDate
            presentation="month-year"
            name="month"
            showClearButton="true"
            showDefaultButtons="true"
            [(ngModel)]="month"
            (ionChange)="loadBasic()"
          >
        </ion-datetime>
        </ng-template>
      </ion-popover> -->
    </ion-item>
  </ion-list>

  <!-- <pie [labels]="chartLabels" [data]="chartData"></pie> -->

  <kh-doughnut [chartLabel]="chartLabels" [chartData]="chartData"></kh-doughnut>
</ion-content>
