<ion-content >
  <header class="ion-padding ion-margin-bottom">
    <h1 class="ion-no-margin">{{ $total() }}</h1>
    <ion-text color="medium">Total spend this week</ion-text>
  </header>

  <canvas khPeriodSwipe #container height="250" (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)"></canvas>


  <pre>{{$queries().timestamp | date }}</pre>

  <ion-list class="ion-padding-horizontal">
    @for(item of $expensesSet()?.ungrouped; track $index) {
      <expense-item
        [expense]="$any(item)"
        [readonly]="true"
      ></expense-item>
    } @empty {
      <small>Nothing found</small>
    }
  </ion-list>

</ion-content>
