<ion-slides>
  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

  <ion-slide *ngFor="let exp of expenses">
    <ion-card class="ion-text-start" style="border-radius: 15px">
      <ion-card-header>
        <ion-card-subtitle>{{ exp.date | date:'MMMM yyyy' }}</ion-card-subtitle>
        <ion-card-title>{{ exp.price }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ exp.note }}
      </ion-card-content>

      <footer>
        <ion-button expand="full" class="ion-no-margin" [class.beating]="loading" (click)="submit(exp)">
          Confirm {{ exp.price | currency:'AED' }}
        </ion-button>
      </footer>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-modal [isOpen]="isModelOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Recurring Expense</ion-title>
        <ion-buttons slot="end">
          <ion-button [disabled]="form.invalid" (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <kh-new [item]="selectedItem" [parent]="form"></kh-new>
    </ion-content>
  </ng-template>
</ion-modal>
