<div class="admin-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="toggleNav()"> -->
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span *ngIf="title$ | async as title">{{ title }}</span>

      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngIf="querying$ | async as loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <mat-sidenav-container
    class="example-sidenav-container"
    *ngIf="media$ | async as media"
  >
    <mat-sidenav #snav opened [mode]="media.matches ? 'over' : 'side'">
      <mat-nav-list>
        <mat-list-item routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon>grid_view</mat-icon>
          <div matListItemTitle>Home </div>
        </mat-list-item>

        <mat-list-item>

            <!-- <a color="primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-list-item routerLink="/home/recurring"> -->
            <a color="primary" routerLink="/home/recurring">
              <div matListItemTitle> Recurring </div>
            </a>
        </mat-list-item>

        <mat-list-item routerLinkActive="active" routerLink="/home/events" [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon>event</mat-icon>
          <div matListItemTitle>Events</div>
        </mat-list-item>

        <mat-list-item routerLinkActive="active" routerLink="/home/reports" [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon>lab_profile</mat-icon>
          <div matListItemTitle>Reports</div>
        </mat-list-item>

        <a color="primary" mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ul class="breadcrumbs">
        <li class="breadcrumb" *ngFor="let crumb of crumbs">
          <a [routerLink]="crumb.path">{{ crumb.label }}</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
