<div class="admin-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="toggleNav()"> -->
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span *ngIf="title$ | async as title">{{ title }}</span>

      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngIf="querying$ | async as loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <mat-sidenav-container
    class="example-sidenav-container"
    *ngIf="media$ | async as media"
  >
    <mat-sidenav #snav opened [mode]="media.matches ? 'over' : 'side'">
      <mat-list>
        <mat-list-item routerLinkActive="active" routerLink="/home/dashboard"
          [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon matListItemIcon>grid_view</mat-icon>
          <div matListItemTitle>Dashboard</div>
        </mat-list-item>

        <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home/recurring">
          <mat-icon matListItemIcon>event_repeat</mat-icon>
          <div matListItemTitle> Recurring </div>
        </mat-list-item>

        <mat-list-item routerLinkActive="active" routerLink="/home/events" [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon matListItemIcon>event</mat-icon>
          <div matListItemTitle>Events</div>
        </mat-list-item>

        <mat-list-item routerLinkActive="active" routerLink="/home/reports" [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon matListItemIcon>analytics</mat-icon>
          <div matListItemTitle>Reports</div>
        </mat-list-item>

        <mat-list-item routerLinkActive="active" routerLink="/home/settings" [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon matListItemIcon>settings</mat-icon>
          <div matListItemTitle>Settings</div>
        </mat-list-item>

        <mat-list-item (click)="logout()">
          <mat-icon  matListItemIcon>logout</mat-icon>
          <div matListItemTitle>Logout</div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container #vc>

      </ng-container>
      <!-- <ng-container *ngIf="(bcrumbsEnabled | async) as breads"> -->
      <!--   <kha-breadcrumbs *ngIf="breads" ></kha-breadcrumbs> -->
      <!-- </ng-container> -->

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
