.admin-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  position:absolute;
  flex-direction: column;
}

.active {
  background-color: rgba(0, 0, 0, 0.04)
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.breadcrumbs {
  .breadcrumb {
    display: inline-block;
    margin-right: 1.5em;
    position: relative;

    a {
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: ">";
      left: 115%;
    }

    &:last-child {
      &::after{
        display: none;
      }
    }
  }
}
