<ng-container [formGroup]="parentForm">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category" [compareWith]="compare" (selectionChange)="populateSubCategory($event)">
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.title | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field *ngIf="subCategories">
    <mat-label>Sub Category</mat-label>
    <mat-select formControlName="subCategory">
      <mat-option *ngFor="let subCat of subCategories" [value]="subCat">
        {{subCat | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>