<ion-slides>
  <ion-slide *ngFor="let exp of expenses">
    <ion-card class="ion-text-start" style="border-radius: 15px">
      <ion-card-header>
        <ion-card-subtitle>{{ exp.date | date:'MMMM yyyy' }}</ion-card-subtitle>
        <ion-card-title>{{ exp.price }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ exp.note }}
      </ion-card-content>

      <footer>
        <ion-button expand="full" class="ion-no-margin" [class.beating]="loading" (click)="submit(exp)">
          Confirm {{ exp.price | currency:'AED' }}
        </ion-button>
      </footer>
    </ion-card>
  </ion-slide>
</ion-slides>
