<ion-header>
  <ion-toolbar color="primary" app-stream>
    <ion-buttons slot="primary">
      <ion-button routerLink="/filter">
        <ion-icon name="funnel" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/search">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Kharchay
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding-small>
  <form (ngSubmit)="addItem(form)" #form="ngForm">
    <ion-list class="ion-no-padding">
      <!-- <ion-item *ngIf="dynamicPricing else staticPricing">
        <ion-label>Price</ion-label>
        <ion-input slot="end" required type="text" name="price" (ionBlur)="calculate()" min="0" [(ngModel)]="expense.price">
        </ion-input>
      </ion-item> -->

      <dynamic-price 
        *ngIf="dynamicPricing else staticPricing" 
        [price]="expense.price" 
        (onCalculate)="dynamicHandler($event)"></dynamic-price>

      <ng-template #staticPricing>
        <ion-item>
          <ion-label>Price</ion-label>
          <ion-input slot="end" required inputmode="numeric" name="price" min="0" [(ngModel)]="expense.price">
          </ion-input>
        </ion-item>
      </ng-template>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime #expenseDate (swipeleft)="subtractDay()" (swiperight)="addDay()" name="date"
          displayFormat="DDDD MMMM DD" pickerFormat="MMM DD, YYYY HH:mm" [(ngModel)]="expense.date" [max]="maxDate">
        </ion-datetime>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col [size]="showSubCategory === true ? '5' : '12'">
            <ion-item>
              <ion-label position="floating">Choose Category</ion-label>
              <ion-select interface="popover" required name="category"
                (ionChange)="populateSubCategory(expense.category)" [(ngModel)]="expense.category">
                <ion-select-option [value]="cat" *ngFor="let cat of categories">{{cat.title | titlecase}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="showSubCategory">
            <ion-item>
              <ion-label position="floating">Choose Sub Category</ion-label>
              <ion-select interface="popover" required name="subCategory" [(ngModel)]="selectedSubCategory">
                <ion-select-option [value]="subCat" *ngFor="let subCat of subCategories">{{subCat | titlecase}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label position="floating">Note</ion-label>
        <ion-textarea rows="1" autoGrow name="note" [(ngModel)]="expense.note"></ion-textarea>
      </ion-item>

      <expense-image></expense-image>

    </ion-list>


    <!-- TODO: <button margin-left type="submit" [disabled]="form.invalid" [ladda]="isWorking" ion-button color="primary">Add</button> -->
    <div padding-small-horizontal>
      <ion-button margin-left type="submit" [disabled]="form.invalid" color="primary">Add</ion-button>
      <ion-button margin-right color="secondary" class="ion-float-end" routerLink="/summary" routerDirection="forward"
        type="button">Show
        Chart</ion-button>
      <!-- <ion-button margin-right color="secondary" class="ion-float-end" type="button" (click)="presentLoading()">Show Chart</ion-button> -->
    </div>

  </form>

  <section class="ion-padding-horizontal">
    <header>
      <h2>{{this.currentMonth}} </h2>
      <h2 #flip></h2>
    </header>

    <ion-list class="ion-no-padding">
      <expense-item [expense]="item" (onDelete)="delete($event)"
        *ngFor="let item of expenses | async; trackBy:trackByFn"></expense-item>
    </ion-list>
  </section>

</ion-content>