header{
  display: flex;
  justify-content: space-between;

  h2{
    margin-top: 0;
  }
}

ion-grid{
  // padding: 0
  ion-col{
    padding-top: 0;
    padding-bottom:0;

    &:first-child{
      padding-left: 0;
    }

    &:last-child{
      padding-right: 0;
    }
  }
}
