
<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Create
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="readReceipt()">
        <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="saveAndAddMore()" [disabled]="form.invalid">
        <ion-icon name="duplicate" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    @if(readingReceipt()) {
      <ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-loading #loading [message]="loaderText()" [style.--percent-uploaded.%]="loadingProgress()" class="loading-upload-image" > </ion-loading>

  <kh-newx [parent]="form" (onSubmit)="add()" />

  <kh-invoice (imageRendered)="grabImage($event)"></kh-invoice>

</ion-content>
